<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="App" packages="">
    <Properties>
        <Property name="LOG_PATTERN_ONE">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="LOG_PATTERN_TWO">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Property>
        <Property name="LOG_PATTERN_THREE">Date: %d{yyyy-MM-dd}, Time: %d{HH:mm:ss}, Class: %C, Function: %t, Message: %m%n</Property>
        <Property name="LOG_DIR">C://Log</Property>
    </Properties>      
    <Appenders>
        <!-- CONSOLE LOG -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN_THREE}"/>
        </Console>
        
        <!-- DATABASE LOGN -->
        <JDBC name="MySQLDatabase" tableName="log">
            <ConnectionFactory
                class="db.Data" method="openCon" />
            <Column name="LOG_DATE" pattern="%d{yyyy-MM-dd}" />
            <Column name="LOG_TIME" pattern="%d{HH:mm:ss}" />
            <Column name="LOGGER" pattern="%logger" />
            <Column name="LOG_LEVEL" pattern="%level" />
            <Column name="MESSAGE" pattern="%m" />           
        </JDBC>     
         
        <!-- EMAIL LOG -->   
        <SMTP name="Mail" subject="Crital Failure" to="vinion2k@gmail.com" from="cgaFinanceApp@cgacaribbean.com"
              smtpHost="" smtpUsername="" 
              smtpPassword= "" smtpPort="" bufferSize="1">
        </SMTP>
        
        <!-- FILE LOG -->
        
        <!--
         <RollingFile
             name="rollinfo"
             fileName="${LOG_DIR}/info.log"
             filePattern="${LOG_DIR}/info.%i.log.gz"
             ignoreExceptions="false">
             <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
             <PatternLayout pattern="${LOG_PATTERN_TWO}"/>
             <Policies>
                 <SizeBasedTriggeringPolicy size="10MB" />
             </Policies>
             <DefaultRolloverStrategy max="5"/>
         </RollingFile>   
         <RollingFile
             name="rollerror"
             fileName="${LOG_DIR}/error.log"
             filePattern="${LOG_DIR}/error.%i.log.gz"
             ignoreExceptions="false">
             <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
             <PatternLayout pattern="${LOG_PATTERN_TWO}"/>
             <Policies>
                 <SizeBasedTriggeringPolicy size="10MB" />
             </Policies>
             <DefaultRolloverStrategy max="5"/>
         </RollingFile>   
         <RollingFile
             name="rollfatag"
             fileName="${LOG_DIR}/fatal.log"
             filePattern="${LOG_DIR}/fatal.%i.log.gz"
             ignoreExceptions="false">
             <LevelRangeFilter minLevel="FATAL" maxLevel="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
             <PatternLayout pattern="${LOG_PATTERN_TWO}"/>
             <Policies>
                 <SizeBasedTriggeringPolicy size="10MB" />
             </Policies>
             <DefaultRolloverStrategy max="5"/>
         </RollingFile> 
        -->
       
    </Appenders>
    <Loggers>        
        <Root level="all">         
            <AppenderRef ref="MySQLDatabase" />    
            <AppenderRef ref="Mail" level="FATAL"/>
            <!--
            <AppenderRef ref="Console"/> 
            <AppenderRef ref="rollinfo" level="ALL"/>   
            <AppenderRef ref="rollerror" level="ALL"/>                     
            -->            
        </Root>
    </Loggers>
</Configuration>
